<html>
  <head>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body
    {{if eq .status.Status "OPEN" }}
    style="background-color: #50c878"
    {{else if or (eq .status.Status "UNKNOWN") (eq .status.Status "CONSTRUCTION")}}
    style="background-color: yellow"
    {{else}}
    style="background-color: red"
    {{end}}
  >
    <center>
    <h1>Highway {{.status.Name}} is {{.status.Status}}</h1>
    {{if ne .status.Status "OPEN" }}
    <h2>{{.status.Description}}</h2>
    {{end}}
    </center>
  </body>
  <footer></footer>
</html>
